*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blueviolet;
}

.wrapper {
   background:transparent;
    border: 2px solid;
    margin: 100px;
    width: 420px;
    border: 2px solid  rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    border-radius: 10px;
    padding: 30px 40px;
    backdrop-filter: blur(20px);
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color: white;
    margin: 10px;
}

.input-box {
   position: relative;
   text-align: center;
   width: 100%;
   height: 50px;
   margin: 30px 0;
    
}

.input-box input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    background:transparent;
    padding: 20px;
}


.input-box input::placeholder {
    color: white;
    text-align: center;
    font-size: 16px;
}

.wrapper .btn {
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, -1);
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
    background-color: white;
}